.main-box {
    position: relative;
}

.box {
    width: 85px;
    height: 85px;
}

.box:nth-child(1) {
    background-color: red;
}

.box:nth-child(2) {
    position: absolute;
    z-index: 2;
    background-color: blue;
    left: 45px;
    top: 45px;
}

.box:nth-child(3) {
    position: absolute;
    background-color: green;
    left: 90px;
    top: 90px;
}