* {
    margin: 0;
}

h1 {
    font-size: 20px;
    color: white;
    font-weight: 300;
    transform: rotate(90deg);
    padding-bottom: 170px;
}

ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 35px;
}

a {
    text-decoration: none;
    color: white;
}

.item::before {
    content: "\1F538";
}

.overlay {
    width: 200px;
    height: 400px;
    background-color: grey;
    transform: translateX(-85%);
    transition: 1000ms ease;
}

.overlay:hover {
    transform: translateX(0);
    transition: 1000ms ease;
}

a:hover {
    color: orange;
    transition: 500ms;
}

.overlay:hover h1 {
    color: gray;
    transition: 700ms;
}